<%= for facility <- @facilites do %>
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="http://i.pravatar.cc/100?img=70" alt="" class="circle">
      <span class="title"><a href="/medicalfacilities"><%= facility.name%></a></span>
       <p>

        Click here to expand
       </p>
    
    </li>
  </ul>
<% end %>
